.main{
  width: 100%;
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;  */
}
img{
  width:200px;
}
h1,h2{
  font-style: italic;
}
table,td,tr{
  border:2px solid #000;
  border-collapse: collapse;
}
.left{
  flex: 1;
  background-color: #999;
  border: 2px solid #000;
  margin: 5px;
  padding: 5px;
}
.right{
background-color: #888;
flex: 3;
border: 2px solid #000;
margin: 5px;
}
@media screen and (max-width:480px) {
  .main{
    width: 100%;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;  */
  }
  .left{
    flex: 1;
    background-color: #4145;
    border: 2px solid #000;
    margin: 5px;
    padding: 5px;
  }
  .right{
  background-color: #c45e45;
  flex: 3;
  border: 2px solid #000;
  margin: 5px;
  }
}
@media screen and (min-width:481px) and (max-width:768px) {
  .main{
    width: 100%;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    /* justify-content: center;  */
  }
  .left{
    flex: 1;
    background-color: #2728;
    border: 2px solid #000;
    margin: 5px;
    padding: 5px;
  }
  .right{
  background-color: #5657;
  flex: 3;
  border: 2px solid #000;
  margin: 5px;
  }
}
